.titre1{
    display: flex;
    justify-content: center;
}
.fa-regular  {
    font-size: 49px; 
    /* margin-bottom: 50px; */
  }
  
.contenu2{
    text-align: center; 
    /* margin-left: 0 25px; */
}
.contenu2 p{
    /* text-align: justify; */
    text-align: justify;
    margin: 0 400px;
    font-size: 19px;
    line-height: 1.9;
}
