h4{
    margin-left: 160px;
}
#popup{
    width: 25%;
    height: 20%;
    margin-left: 190px;
    margin-top: 40px;

}
.modal-body h6{
    color: #909A98;
    text-align: center;
}
 #btnannuler{
    background-color:#909A98 ;
    color: white;
}
.modal-footer{
    margin-right: 95px;
}
h3{
    margin-left: 50px;
    color: #28384d;
}
.message{
    margin-left: 50px;
    color: #28384d;
}
.send{
    margin-left: 50px; 
}
.service{
    margin-left: 50px;
    color: #28384d; 
}
.modal-body a{
    text-decoration: none;
    margin-left: 50px;
}