
h2{ 
    margin-top: 5%;
    text-align: center;
    color:#28384d ;
}
.container p{
    text-align: center;
    color: #777D7F;
}
.me{
    margin: 20px auto;
    width: 70%;
    height: 100%;
    border-radius: 1%;
    border: 1px solid #3F55AF;
}
.partie1{
  
    background-color: #3F55AF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 40px;
    padding-top: 5px;
}
.me img{
    margin-left: 45%;
    width: 10%;
    border-radius: 50%;
}
a{
    color: #3F55AF;
    text-decoration: none
}
 .partie1 span{
    margin-right: 680px;
}
