:root{
    --couleurHeader:#222222;
    --couleurTitre: #777777;
    --couleurTitreHover: #f8fcff;
    
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /* width: 202vh; */
}

.titre-temoignage{
    margin-top: 10%;
}